@using Entities
@using Business

<hr/>
<select class="form-control" @onchange ="CategoryChanged">
    <option value="">Selecciona una categoria...</option>
    @foreach (var category in categories)
    { 
        <option value="@category.CategotyId.">@category.CategoryName</option>
    }
    
</select>
<hr />

<table class=" table table-hover table-bordered">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre del producto</th>
            <th>Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in temproducts)
        { 
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.CategotyId</td>
            <td><a href="product/update/@product.ProductId">Editar</a></td>
        </tr>
        }
    </tbody>   
</table>


@code {
    List<ProductEntity> products = new List<ProductEntity>();
    List<ProductEntity> temproducts = new List<ProductEntity>();
    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        products = BusinnesProduct.ProductList();
        temproducts = products;
        categories = BusinnesCategory.CategoryList();
    }
    //@onChange --> Evento de cambio
    private void CategoryChanged(ChangeEventArgs e)
    {

        temproducts = products.Where(c => c.CategotyId == e.Value.ToString()).ToList();
    }
}
